<%= link_to 'Add New Celebrant', new_celebrant_path %>
<%= link_to 'Add New Task', new_task_path %>
<% @celebrants.each do |celebrant| %>
  <div>
    <%= link_to celebrant.name, new_celebrant_duty_path(celebrant) %>
    <% celebrant.tasks.each do |duty| %>
      <%= duty.name %>
    <% end %>
  </div>
<% end %>
